.ruby {
    background: #701516;
}

.go {
    background: #375eab;
}

.php {
    background: #4f5d95;
}

.java {
    background: #b07219;
}

.scala {
    background: #dc322f;
}

.perl {
    background: #0298c3;
}

.vue {
    background: #2c3e50;
}

.html {
    background: #e44b23
}

.swift {
    background: #ffac45;
}

.css {
    background: #563d7c;
}

.handlebars {
    background: #01a9d6;
}

.javascript {
    background: #f1e05a;
}

.python {
    background: #3572a5;
}

.perl {
    background: #0298c3;
}

.cSharp {
    background: #178600;
}
